:root{
    --fade: 0.3s;
}
#main_div.raw{
    opacity: 0;
    pointer-events: none;
}
#main_div.fadeout{

    -webkit-transition: all var(--fade);
    -moz-transition: all var(--fade);
    -ms-transition: all var(--fade);
    -o-transition: all var(--fade);
    transition: all var(--fade);
    opacity: 0;
    pointer-events: none;
}

#main_div.fadein{
    -webkit-transition: all var(--fade);
    -moz-transition: all var(--fade);
    -ms-transition: all var(--fade);
    -o-transition: all var(--fade);
    transition: all var(--fade);
    opacity: 1;
    pointer-events: none;
}
.down-details{
    margin-left: 30px;
    font-family: 微软雅黑;
    color:#66CDAA;
    font-weight: bold;
}
