<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="keywords" content="COMS后台管理系统">
  <meta name="description" content="COMS后台管理系统">
  <meta name="author" content="yinqi">
  <title>首页 - COMS后台管理系统</title>
  <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/ico">
  <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
  <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
  <link th:href="@{/css/main_div.css}" rel="stylesheet">
  <style>
    .img_product{
      margin-top: -8px;
      margin-bottom: -8px;
      width: auto;
      height: 48px
    }
   td,th{
      text-align: center;
      vertical-align: middle!important;
    }

    .not_allowed{
      cursor: not-allowed!important;
    }
    .form-group.form-controls{
      float: left;
    }

  </style>
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="javascript:void(0)" onclick="forward('/admin/auth/index')"><img
                        th:src="@{/images/logo-sidebar.png}" title="LightYear" alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active"><a href="javascript:void(0)" onclick="forward('/admin/auth/index')"><i
                                class="mdi mdi-home"></i> 后台首页</a></li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>商品管理</a>
                            <ul class="nav nav-subnav">
                                <li><a href="javascript:void(0)"
                                       onclick="forward('/admin/product/productList')">商品列表</a></li>
                                <li><a href="javascript:void(0)" onclick="forward('/admin/product/addProduct')">商品上架</a>
                                </li>
                                <li><a href="javascript:void(0)"
                                       onclick="forward('/admin/category/categoryList')">类目列表</a></li>
                                <!--                <li> <a href="javascript:void(0)" onclick="forward('/admin/category/addCategory')">类目添加</a> </li>-->
                                <!--                <li> <a href="javascript:test1()">商品列表</a> </li>-->
                                <!--                <li> <a href="javascript:test()">商品上架</a> </li>-->
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="glyphicon glyphicon-user"></i>用户管理</a>
                            <ul class="nav nav-subnav">
                                <li> <a href="javascript:void(0)" onclick="forward('/admin/member/stallList')">采购商</a> </li>
                                <li> <a href="javascript:void(0)" onclick="forward('/admin/member/supList')">供应商</a> </li>
                                <li> <a href="javascript:void(0)" onclick="forward('/admin/member/adminList')">管理员</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" onclick="forward('/admin/order/orderList')"><i class="mdi mdi-format-align-justify"></i>订单管理</a>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i>统计</a>
                            <ul class="nav nav-subnav">
                                <li><a href="javascript:void(0)" onclick="forward('/admin/order/orderAllItem')">订单统计</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>

                <div class="sidebar-footer">
                    <p class="copyright">Copyright &copy; 2021 by <br>天津市大学软件学院后勤部<br> All rights reserved. </p>
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->
    <div id="main_div" class="raw">
      <!--头部信息-->
      <header class="lyear-layout-header">

        <nav class="navbar navbar-default">
          <div class="topbar">

            <div class="topbar-left">
              <div class="lyear-aside-toggler">
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
              </div>
              <span class="navbar-page-title"> 商品修改 </span>
            </div>

            <ul class="topbar-right">
              <li class="dropdown dropdown-profile">
                <a href="javascript:void(0)" data-toggle="dropdown">
                  <img class="img-avatar img-avatar-48 m-r-10" th:src="@{/images/users/avatar.jpg}" alt="后台系统" />
                  <span th:text="${admin.name}"><span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li> <a href="javascript:void(0)" onclick="forward('/admin/auth/editProfile')"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                  <li> <a href="javascript:void(0)" onclick="forward('/admin/auth/editPassword')"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                  <!--                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>-->
                  <!--                <li class="divider"></li>-->
                  <li> <a href="javascript:void(0)" onclick="forward('/admin/auth/logout')"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                </ul>
              </li>

            </ul>

          </div>
        </nav>

      </header>
      <!--End 头部信息-->

      <!--页面主要内容-->
      <main class="lyear-layout-content">

        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">

                  <form id="form" action="#!" method="post" class="row">
                    <div class="form-group col-md-12">
                      <label for="type">商品种类</label>
                      <input id="id" name="id" type="number" th:value="${product.id}" style="display: none">
                      <div class="form-controls">
                        <select name="type" class="form-control" id="type" >
                          <option value="none" selected disabled hidden>请选择种类</option>
                          <option th:each="cate:${l2Cates}" th:text="${cate.name}" th:value="${cate.id}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="type">供应商</label>
                      <div class="form-controls">
                        <select name="sup" class="form-control" id="sup">
                          <option class="supStart" value="none" selected disabled hidden>请选择合适的供应商</option>
                          <option class="supShow" th:each="sup:${sups}" th:text="${sup.name}" th:value="${sup.id}"></option>
                        </select>
                        <input type="number" th:value="${product.supCateId}" id="supCateId" name="supCateId" style="display: none">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="name">商品名称</label>
                      <input type="text" class="form-control" id="name" name="name" th:value="${product.name}" placeholder="请输入商品名称" />
                    </div>
                    <div class="form-group col-md-12">
                      <label for="price">商品价格</label>
                      <input type="number" step="0.01" class="form-control" id="price" name="price" th:value="${product.price}" placeholder="商品价格" />
                    </div>
                    <div class="form-group col-md-12">
                      <label for="stock">商品数量</label>
                      <input type="number" class="form-control" id="stock" name="stock" th:value="${product.stock}" placeholder="商品数量" />
                    </div>
                    <div class="form-group col-md-12">
                      <label for="picUrl">商品图片</label>
                      <div class="form-controls">
                        <ul class="list-inline clearfix lyear-uploads-pic">

                          <li class="col-xs-4 col-sm-3 col-md-2">
                            <figure>
                              <img th:src="${'/uploadfiles/'+product.picUrl}" id="show" alt="">
                              <figcaption>
<!--                                <a class="btn btn-round btn-square btn-primary" href="#!"><i class="mdi mdi-eye"></i></a>-->
                                <a class="btn btn-round btn-square btn-danger" id="removePic" href="#!"><i class="mdi mdi-delete"></i></a>
                              </figcaption>
                            </figure>
                          </li>
                          <li class="col-xs-4 col-sm-3 col-md-2" style="text-align: center">
                            <a class="pic-add" id="add-pic-btn" href="#!" title="点击上传"></a>
                            <input type="file" id="picFile" value="" onchange="showPic()" name="picFile" style="display: none">
                            <input type="text" id="picUrl" th:value="${product.picUrl}" name="picUrl" style="display: none">
                          </li>

                        </ul>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="status">状态</label>
                      <div class="clearfix">
                        <label class="lyear-radio radio-inline radio-primary">
                          <input type="radio" id="status" th:checked="${product.status==1}" name="status" value="1"><span>在售</span>
                        </label>
                        <label class="lyear-radio radio-inline radio-primary">
                          <input type="radio" id="status" th:checked="${product.status==0}" name="status" value="0"><span>未售</span>
                        </label>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="pd">生产日期</label>
                      <div class="form-controls">
                        <input class="form-control js-datepicker m-b-10" type="text" id="pd" name="pd" placeholder="yyyy-mm-dd" th:value="${product.pd}" data-date-format="yyyy-mm-dd" />
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="fd">保质期</label>
                      <input type="number" class="form-control" id="fd" name="fd" th:value="${product.fd}" placeholder="保质期" />
                    </div>

                    <div class="form-group col-md-12">
                      <label for="brand">商品品牌</label>
                      <input type="text" class="form-control" id="brand" name="brand" th:value="${product.brand}" placeholder="请输入商品品牌" />
                    </div>

                    <div class="form-group col-md-12">
                      <button type="button" class="btn btn-primary ajax-post" id="submit" target-form="add-form">确 定</button>
                      <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

          </div>

        </div>

      </main>
      <!--End 页面主要内容-->
    </div>
  </div>
</div>

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<!--时间选择插件-->
<script th:src="@{/js/bootstrap-datetimepicker/moment.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker/locale/zh-cn.js}"></script>
<!--日期选择插件-->
<script th:src="@{/js/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<!--消息提示-->
<script th:src="@{/js/bootstrap-notify.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lightyear.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>

<script th:inline="javascript">

  var uploadFlag = false;
  function forward(url){
    $('#main_div').addClass('fadeout');
    setTimeout(() => {
      window.location.href = url;
    },reflushTime)
  }
  function showPic() {
    $("#add-pic-btn").css("display", "none");
    var reads = new FileReader();
    f = document.getElementById('picFile').files[0];
    reads.readAsDataURL(f);
    reads.onload = function(e) {
      // document.getElementById('show').src = this.result;
      $('#show').attr('src',this.result);
      $('#show').attr('alt',this.result);
      $("#show").css("display", "block");
      $("#picUrl").val(f.name);
    };
  }

  function ajaxlocal(){
    var formData = new FormData();
    formData.append('file', $('#picFile')[0].files[0]);

    if(typeof (formData) == "undefined" || formData.size <= 0 || formData.get("file")=="undefined"){
      // alert("请选择图片");
      lightyear.loading('show');
      // 假设ajax提交操作
      setTimeout(function() {
        lightyear.loading('hide');
        lightyear.notify('图片错误，请重新上传~', 'danger', 100);
      }, 1e3);
      return;
    }

    $.ajax({
      url : "/admin/product/uploading",
      type: 'post', //上传文件不能用get请求，只能用post或者put等上传大文件的请求
      //这里的数据是上面的form表单对象
      data:formData,
      processData:false,
      contentType:false,
      cache:false,
      async: false,//将异步设置为同步
      success : function(result) {
        // var c = eval('('+result+')');
        // console.log(c.errno==0);
        if(result.errno==0){
          uploadFlag = true;
          console.log(uploadFlag)
        }else{
          setTimeout(function() {
            lightyear.loading('hide');
            lightyear.notify(result.errmsg, 'danger', 100);
          }, 1e3)
        }

      },
      error:function(e){
        setTimeout(function() {
          lightyear.loading('hide');
          lightyear.notify('服务器错误，请稍后再试~', 'danger', 100);
        }, 1e3)
      }
    });
  }

  $(function(){
    $('#main_div').addClass("fadein");
    setTimeout(() => {
      $('#main_div').removeClass("fadein");
      $('#main_div').removeClass("raw");
    }, reflushTime);
    var pageNum = [[${pageNum}]]
    var sups = [[${sups}]];
    var l2Cates = [[${l2Cates}]];
    var supCates = [[${supCates}]];
    var product = [[${product}]];
    // console.log(supCates);
    var supCate = null;

    for(var i = 0;i<supCates.length;i++){
      if(supCates[i].id==product.supCateId){
        supCate = supCates[i];
        i = supCates.length;
      }
    }

    $("#type").val(supCate.cateId);

    var currentSups = [];
    for(var i=0;i<supCates.length;i++){
      if(supCates[i].cateId==$("#type").val()){
        currentSups.push(sups.find(item => item.id == supCates[i].supId));
      }
    }
    $("#sup").empty();
    var table = $("#sup");
    if(currentSups.length==0){
      table.append("<option class=\"supStart\" value=\"none\" selected disabled hidden>暂无供应商，请选择其他种类</option>");
    }else{
      table.append("<option class=\"supStart\" value=\"none\" selected disabled hidden>请选择合适的供应商</option>");
    }
    for(var i=0;i<currentSups.length;i++){
      // console.log("c");

      $("#sup").append("<option class='supShow' value='"+currentSups[i].id+"'>"+currentSups[i].name+"</option>");
    }
    $("#sup").val(supCate.supId);

    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
    $('.not_allowed').click(function(){
      return false;
    })

    $("#add-pic-btn").click(function(){
      $("#picFile").click();
    });
    $("#removePic").click(function(){
      console.log("asdfsadf");
      $('#show').attr('src',"#");
      $('#show').attr('alt',"#");
      $("#show").css("display", "none");
      $("#picFile").val("");
      $("#picUrl").val("");
      $("#add-pic-btn").css("display", "block");
    });
    $("#type").change(function(){
      currentSups = [];
      for(var i=0;i<supCates.length;i++){
        if(supCates[i].cateId==$("#type").val()){
          currentSups.push(sups.find(item => item.id == supCates[i].supId));
        }
      }
      $("#sup").empty();
      var table = $("#sup");
      if(currentSups.length==0){
        table.append("<option class=\"supStart\" value=\"none\" selected disabled hidden>暂无供应商，请选择其他种类</option>");
      }else{
        table.append("<option class=\"supStart\" value=\"none\" selected disabled hidden>请选择合适的供应商</option>");
      }
      for(var i=0;i<currentSups.length;i++){
        // console.log("c");

        $("#sup").append("<option class='supShow' value='"+currentSups[i].id+"'>"+currentSups[i].name+"</option>");
      }


    })

    $.fn.parseForm=function(){
      var serializeObj={};
      var array=this.serializeArray();
      var str=this.serialize();
      $(array).each(function(){
        if(serializeObj[this.name]){
          if($.isArray(serializeObj[this.name])){
            serializeObj[this.name].push(this.value);
          }else{
            serializeObj[this.name]=[serializeObj[this.name],this.value];
          }
        }else{
          serializeObj[this.name]=this.value;
        }
      });
      return serializeObj;
    };
    $('#submit').click(function(){
      console.log("asdfsafd");
      var param = $('#form').parseForm();
      console.log(param);
      var contentFlag = true;
      if(param.brand.length == 0||param.brand.split(" ").join("").length == 0){
        $("#brand").parent().children(":first").children(":first").remove();
        $("#brand").parent().addClass('has-error');
        $("#brand").parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#brand").parent().removeClass('has-error');
        $("#brand").parent().children(":first").children(":first").remove();
      }
      if(param.fd.length == 0||param.fd.split(" ").join("").length == 0){
        $("#fd").parent().children(":first").children(":first").remove();
        $("#fd").parent().addClass('has-error');
        $("#fd").parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#fd").parent().removeClass('has-error');
        $("#fd").parent().children(":first").children(":first").remove();
      }
      if(param.name.length == 0||param.name.split(" ").join("").length == 0){
        $("#name").parent().children(":first").children(":first").remove();
        $("#name").parent().addClass('has-error');
        $("#name").parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#name").parent().removeClass('has-error');
        $("#name").parent().children(":first").children(":first").remove();
      }
      if(param.pd.length == 0||param.pd.split(" ").join("").length == 0){
        $("#pd").parent().parent().children(":first").children(":first").remove();
        $("#pd").parent().parent().addClass('has-error');
        $("#pd").parent().parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#pd").parent().parent().removeClass('has-error');
        $("#pd").parent().parent().children(":first").children(":first").remove();
      }
      if(param.picUrl.length == 0||param.picUrl.split(" ").join("").length == 0){
        $("#picUrl").parent().parent().parent().parent().children(":first").children(":first").remove();
        $("#picUrl").parent().parent().parent().parent().addClass('has-error');
        $("#picUrl").parent().parent().parent().parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#picUrl").parent().parent().parent().parent().removeClass('has-error');
        $("#picUrl").parent().parent().parent().parent().children(":first").children(":first").remove();
      }
      if(param.price.length == 0||param.price.split(" ").join("").length == 0){
        $("#price").parent().children(":first").children(":first").remove();
        $("#price").parent().addClass('has-error');
        $("#price").parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#price").parent().removeClass('has-error');
        $("#price").parent().children(":first").children(":first").remove();
      }
      if(param.stock.length == 0||param.stock.split(" ").join("").length == 0){
        $("#stock").parent().children(":first").children(":first").remove();
        $("#stock").parent().addClass('has-error');
        $("#stock").parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#stock").parent().removeClass('has-error');
        $("#stock").parent().children(":first").children(":first").remove();
      }
      if($("#type").val()==null || $("#type").val().length == 0 || $("#type").val().split(" ").join("").length==0){
        $("#type").parent().parent().children(":first").children(":first").remove();
        $("#type").parent().parent().addClass('has-error');
        $("#type").parent().parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#type").parent().parent().removeClass('has-error');
        $("#type").parent().parent().children(":first").children(":first").remove();
      }
      console.log($("#sup").val());
      if($("#sup").val()==null || $("#sup").val().length == 0 || $("#sup").val().split(" ").join("").length==0){
        $("#sup").parent().parent().children(":first").children(":first").remove();
        $("#sup").parent().parent().addClass('has-error');
        $("#sup").parent().parent().children(":first").append("<span style='color: red;margin-left:10px; font-size: 20px'>*</span>");
        contentFlag = false;
      }else{
        $("#sup").parent().parent().removeClass('has-error');
        $("#sup").parent().parent().children(":first").children(":first").remove();
      }
      console.log($("#sup").val());
      console.log("contentFlag:"+contentFlag);

      if(!contentFlag){
        setTimeout(function() {
          lightyear.notify('请完善商品信息！', 'danger', 100);
        }, 1e3)
        return false;
      }
      console.log($("#picUrl"));
      console.log(product.picUrl);
      lightyear.loading('show');
      var isChangeFlag = false;
      if($("#picUrl").val()!=product.picUrl){
        ajaxlocal();
        isChangeFlag = true;
      }
      if(!uploadFlag&&isChangeFlag){
        // 假设ajax提交操作
        setTimeout(function() {
          lightyear.loading('hide');
          lightyear.notify('图片上传失败，请重新上传', 'danger', 100);
        }, 1e3)
        return false;
        //用于判断输入框是否为空
        // alert("文件上传失败，请重新尝试");

      }
      for(var i=0;i<supCates.length;i++){
        if(supCates[i].cateId==$('#type').val() && supCates[i].supId==$("#sup").val()){
          $("#supCateId").val(supCates[i].id);
          i = supCates.length;
        }
      }
      param.supCateId = $("#supCateId").val();
      console.log(param);
      // return false;
      $.ajax({
        url : '/admin/product/edit',
        data : JSON.stringify(param),
        type : 'post',
        dataType : 'json',
        contentType:'application/json',
        success : function(data) {
          if(data.errno==0){
            // 假设ajax提交操作
            setTimeout(function() {
              lightyear.loading('hide');
              lightyear.notify('更新成功，页面即将自动跳转~', 'success', 3000);
              $("#main_div").addClass('fadeout');
              setTimeout(function () {
                window.location.href = "/admin/product/productList?pageNum="+pageNum;
              }, 1e3)
            }, 1e2)
            // $('#main_div').addClass("fadeout");
          }else{
            // 假设ajax提交操作
            setTimeout(function() {
              lightyear.loading('hide');
              lightyear.notify(data.errmsg, 'danger', 100);
            }, 1e3)
          }
        },
        error:function () {
          // 假设ajax提交操作
          setTimeout(function() {
            lightyear.loading('hide');
            lightyear.notify('服务器错误，请稍后再试~', 'danger', 100);
          }, 1e3)
        }
      });
    });
});
</script>
</body>
</html>